<div class="container">
    <div class="fixed">
        <p>Media Library:</p>

        <table class="mediaLibraryTable">
            <tr ng-repeat="thumb in mediaLibraryThumbs">
                <td>
                    <div class="mediaLibraryThumbDiv">
                        <img id="{{thumb.column0.id}}" data-name="{{thumb.column0.fileName}}" data-path="{{thumb.column0.path}}" ng-src="{{thumb.column0.thumbUrl}}" class="mediaLibraryThumbImg" draggable="true" ondragstart="mediaLibraryDragStartHandler(event);">
                        <p class="mediaLibraryThumbLbl">{{thumb.column0.fileName}}</p>
                    </div>
                </td>
                <td>
                    <div class="mediaLibraryThumbDiv">
                        <img id="{{thumb.column1.id}}" data-name="{{thumb.column1.fileName}}" data-path="{{thumb.column1.path}}" ng-src="{{thumb.column1.thumbUrl}}" class="mediaLibraryThumbImg" draggable="true" ondragstart="mediaLibraryDragStartHandler(event);">
                        <p class="mediaLibraryThumbLbl">{{thumb.column0.fileName}}</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="flex-item" style="margin-left: 8px;">
        Zone 1: Video or Images: Playlist
        <ul class="flex-container wrap">
            <li ng-repeat="thumb in playlistThumbs" class="flex-item mediaLibraryThumbDiv" ondrop="playlistDropHandler(event);" ondragover="playlistDragOverHandler(event);">
                <img id="{{thumb.id}}" ng-src="{{thumb.thumbUrl}}" class="mediaLibraryThumbImg" draggable="true" ondragstart="playlistDragStartHandler(event);">
                <p class="mediaLibraryThumbLbl">{{thumb.stateName}}</p>
            </li>
        </ul>
    </div>
</div>



<!--<div>-->
    <!--&lt;!&ndash;<p>this is brightauthor.html</p>&ndash;&gt;-->

    <!--&lt;!&ndash;<p>Presentation name: {{signName}}</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Zone name: {{zoneName}}</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Zone id: {{zoneId}}</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Zone type: {{zoneType}}</p>&ndash;&gt;-->

    <!--<p>Media Library:</p>-->

<!--</div>-->
